body, html {
  margin: 0;
  font-family: 'Open Sans Condensed', Arial, sans;
  color: #9C9C9C;
  background: #02181F;
  text-align: center;
}
canvas {
  box-shadow: 0 2px 4px #000E13;
}
h1 {
  font-weight: 300;
  text-shadow: 0 2px 4px #000E13;
  margin-top: 100px;
}
h3 {
  font-weight: 300;
  margin: 0;
  padding-bottom: 4px;
  margin-bottom: 4px;
  margin-top: 12px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);

}
h3:first-child {
  margin-top: 0;
  border-top: none;
}
strong, emphasis {

  color: white;
  font-size: 9px;
  font-family: Arial;
  text-transform: uppercase;
  padding: 2px 4px 3px 4px;
  border-radius: 2px;
  vertical-align: middle;
  margin-left: 4px;
  font-weight: bold;
  margin-right: 4px;
}
strong {
  background: #cb4b16;
}
emphasis {
  background: #859900;
}

input {
  vertical-align: middle;
}

aside {
  background: none repeat scroll 0% 0% rgba(10, 10, 10, 0.5);
  color: rgb(85, 85, 85);
  font-size: 14px;
  text-align: left;
  padding: 12px;
  border-radius: 4px;
  margin-top: 10px;
}
aside p {
  margin: 0;
  margin-top: 10px;
}
aside p:first-child {
  margin: 0;
}

#canvas {
  margin: auto;
  width: 640px;
  position: relative;
}
#stats{
  position: absolute;
  width: 80px;
  height: 40px;
  right: 0;
}
#options {
  text-align: left;
  width: 250px;
  position: absolute;
  left: 100%;
  top: 0;
  padding-left: 10px;
}
#options .checkbox {
  margin-right: 10px;
}

#options p {
  margin: 0;
}

#controls {
  position: absolute;
  margin-top: -50px;
  right: 10px;
}

#play-widget {
  outline: none !important;
}
